.about{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(120deg, rgb(198, 195, 194) 48%, rgb(53, 54, 53) 10%);
}

.about-image-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.about-image-container .photo{
    width: 500px;
    height: 380px;
}
.about-image-container img{
    width: 466px;
    height: 380px;
}
.about-me-content h3{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
    letter-spacing: .2rem;
    font-weight: bold;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-underline-offset: 0.6rem;
    color: #fff;
}
.about-me-content p{
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    padding: 1rem 2rem;
    color: #fff;
    text-align: justify;
}

@media only screen and (max-width: 600px){
    .about-me-content p{
        padding: 1rem 0;
        font-size: 1.2rem;
    }
}

