.home {
  min-height: 85vh;
  /* background design */
  background-color: #0000ff;
  background-image: repeating-linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5) 100px,
      transparent 0px,
      transparent 200px
    ),
    repeating-linear-gradient(
      -45deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4) 100px,
      transparent 0px,
      transparent 200px
    );
}

.intro-content {
  /* padding-left: 5rem; */
  color: #fff;
}
.intro-content h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: lighter;
  font-weight: bold;
}

.intro-content h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
.intro-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: lighter;
}

.intro-content h1 span {
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

.name-format {
  background: rgb(247, 157, 60);
  background: linear-gradient(
    90deg,
    rgba(247, 157, 60, 1) 10%,
    rgba(228, 37, 144, 1) 34%,
    rgba(255, 0, 44, 1) 66%
  );
  background-size: 150% 150%;
  animation: animate 5s ease infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.photos {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30% 70% 24% 76% / 65% 30% 70% 35%;
  box-shadow: -4px 4px 6px #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #ee9343, #d2e429);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.photos img {
  width: 400px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40% 60% 33% 67% / 56% 40% 60% 44%;
  box-shadow: 2px 2px 4px #fff;
}
