/* About buttons css */
.newBtn {
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s ease;
  box-shadow:
    4px 4px 10px #c5c5c5,
    -4px -4px 10px #ffffff;
}

.newBtn::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #245ce0 0%, #25e0dd 100%);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.newBtn:hover::before {
  width: 9em;
}
.newBtn:hover {
  color: #ffffff;
}

/* labels css */
.labels {
  width: fit-content;
  color: #090909;
  padding: 4px 6px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: -2px -2px 4px #ffffff;
}
.labels:hover {
  box-shadow: 2px 2px 4px #c5c5c5;
  /* -2px -2px 4px #ffffff; */
}
