* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style for navbar  */
.navbar {
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: 0.3px solid gray !important;
}

.nav-link {
  font-weight: 500 !important;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 18px;
}

.active {
  border-bottom: 2px solid black;
}

.logo {
  width: 150px;
  height: 50px;
}

/* Button css */
.newBtn {
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s ease;
  box-shadow:
    4px 4px 10px #c5c5c5,
    -4px -4px 10px #ffffff;
}

.newBtn::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #245ce0 0%, #25e0dd 100%);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.newBtn:hover::before {
  width: 9em;
}
.newBtn:hover {
  color: #ffffff;
}

/* About css */
.about {
  background: linear-gradient(
    120deg,
    rgb(198, 195, 194) 48%,
    rgb(53, 54, 53) 10%
  );
}

.photo img {
  width: 466px;
  height: 380px;
}
